* {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", sans-serif;
  letter-spacing: 0.02em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

li {
  list-style: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

menu {
  -ms-flex-preferred-size: 90px;
      flex-basis: 90px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e35736), to(#ea8f4a));
  background: linear-gradient(#e35736, #ea8f4a);
}

menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

menu li {
  margin: 12px 20px;
  text-align: center;
}

menu li::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  margin-top: 15px;
}

menu li:last-of-type img {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
}

menu li:last-of-type::after {
  display: none;
}

main {
  background: linear-gradient(0.4turn, #f98117, #ea8f4a, #f9e080);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #fefd89;
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

main > * {
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

main h2 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 75px;
}

main h1 {
  text-transform: uppercase;
  font-size: 55px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 20px;
}

.item {
  position: relative;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item label {
  width: 35px;
  height: 35px;
  border: 1px solid #fefd89;
  border-radius: 5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.item label::after {
  content: "";
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(../assets/x.svg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.item input[type="checkbox"] + label::after {
  content: none;
}

.item input[type="checkbox"]:checked + label::after {
  content: "";
}

.item div {
  padding-left: 20px;
}

.item .item-title {
  font-size: 28px;
  padding: 4px 0;
  font-weight: 700;
}

.item .item-description {
  font-size: 16px;
  color: white;
  line-height: 1.2em;
}

.form {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  background: url(../assets/clock.svg), -webkit-gradient(linear, left top, left bottom, from(#f5d47a), to(#fcf4a7));
  background: url(../assets/clock.svg), linear-gradient(#f5d47a, #fcf4a7);
  background-position: bottom right, top;
  background-size: 70%, 100%;
  background-repeat: no-repeat, no-repeat;
  color: #f98117;
  overflow: auto;
  position: relative;
  height: 100%;
  width: 100%;
}

.form > * {
  margin-left: 20px;
  margin-right: 20px;
}

.form > p {
  font-size: 14px;
  line-height: 1;
  margin-top: 82px;
}

.form form {
  margin-bottom: 20px;
}

.form h1 {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 20px;
  line-height: 1;
}

.form label {
  font-size: 20px;
  color: #fffedb;
  display: block;
  text-transform: uppercase;
  font-weight: 700;
}

.form input[type="text"],
.form textarea {
  border: 2px solid white;
  background: white;
  font-size: 20px;
  color: #f98117;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;
  width: calc(100% - 30px);
}

.form input[type="text"]:focus, .form input[type="text"]:active,
.form textarea:focus,
.form textarea:active {
  border: 2px solid #f98117;
  outline: none;
}

.form textarea {
  resize: none;
  height: 300px;
}

.form fieldset {
  border: none;
}

.form form div {
  text-align: right;
}

.form .add-task {
  background: #f98117;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 5px 12px;
  border: none;
  border-radius: 3px;
  border: 2px solid transparent;
  cursor: pointer;
}

.form .add-task:hover,
.form .add-task :focus {
  border: 2px solid #e35736;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.form .cancel-task {
  background: none;
  border: none;
  color: #f98117;
  font-size: 14px;
  margin: 0 12px;
  cursor: pointer;
}

.form .cancel-task:hover {
  text-decoration: underline;
}

.toggle-form {
  position: absolute;
  background: none;
  border: none;
  bottom: 20px;
  right: 0px;
}

.toggle-form img {
  width: 25px;
}

#clock {
  bottom: 0;
  right: 0;
  position: absolute;
  margin: 0;
  width: 190px;
}

@media print {
  menu,
  .form {
    display: none;
  }
  .list {
    background: none;
    color: #f98117;
  }
  .list h2,
  .list h1 {
    color: #f98117;
    width: 90%;
    max-width: 1000px;
  }
  .list h1 {
    margin-bottom: 25px;
  }
  .list h1::after {
    content: "";
    display: block;
    border: 1px solid #f98117;
    margin-top: 25px;
  }
  .list ul {
    width: 90%;
    max-width: 1000px;
  }
  .list .item {
    margin-bottom: 40px;
  }
  .list .item label {
    border-color: #f98117;
  }
  .list .item label::after {
    background-color: #ea8f4a;
  }
  .list .item .item-description {
    color: darkslategray;
  }
  .toggle-form {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */