* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", sans-serif;
    letter-spacing: 0.02em;
    transition: all 0.2s ease;
}

li {
    list-style: none;
}

// COLORS
$dark-orange: #e35736;
$orange: #f98117;
$medium-orange: #ea8f4a;
$yellow-orange: #eeaf5d;
$yellow: #fefd89;
$light-yellow: #fcf4a7;
$almost-white: #fffedb;

body {
    display: flex;
    height: 100vh;
}

@import "menu.scss";
@import "main.scss";
@import "form.scss";

@import "print.scss";
